.dropdown {display: inline-block;}
main p {padding-top: 20px;}
.container {width:80% ;}
.logo   {text-decoration: none;}

@media screen (max-width: 700;)
{dropdown-item {width: 20px;}
.logo{font-size: 0.3 rem;}
    
}